.container {
  display: flex;
  flex: 1;
  flex-direction: column;

  .animation {
    position: fixed;
  }

  .contentWrapper {
    display: flex;
    z-index: 1;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
    flex-flow: wrap;

    @include respond-to(tablet) {
      flex-direction: row;
      margin-top: 8rem;
    }
  }

}