.container { 
  display: flex;
  margin: 1rem auto;
  justify-content: center;
  flex-direction: column;
  width: 90%;

  @include respond-to(tablet) {
    width: 80%;
  }

  .header {
    flex-direction: row;
    display: flex;
    .back {
      cursor: pointer;
    }

    .heading {
      flex: 1;
      justify-content: center;
      display: flex;
      color: var(--main-primary-color);
      font-size: 1.5rem;
    }
  }

  .cardContainer {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    .card {
      border-radius: 30px;
      border: 1px solid var(--main-border-color);
      transition: all 0.2s ease-in;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      min-width: 80%;
      min-height: 20rem;
      justify-content: space-between;

      @include respond-to(tablet) {
        min-height: 20rem;
        min-width: 30rem;
      }

      .content {
        margin: 2rem;
      }

      .alias {
        margin: 2rem;
        text-align: right;
        color: var(--main-primary-color);
      }
    
      &:hover {
        box-shadow: var(--main-box-shadow);
        border: 1px solid var(--main-border-hover-color);
      }
    }
  }
}